{% extends "base.html" %} {% block content %}

<div class="homeBack animated zoomIn">
    <div id="nav">
        <a href="{{ url_for('login') }}" id="surpriseButton">Surprise</a>
    </div>
   <div id="leftImage">
       <img src="{{ url_for('static',filename='image/hero.png') }}"alt="HeroImage" width=380px height="300px" id="heroImage">

   </div>
   <div id="rightContent">
       <p id="header">HAPPY BIRTHDAY <span id="dubbi"> <strong> Ayesha </strong></span> !!</p>
       <p id="description"> From waking me up with care, to getting mad in the cutest ways—every moment with you is unforgettable.  
           We've wandered through cities and even forests, but wherever we go, it's your personality that stands out the most.  
           You're not just my favorite person... you're the reason those memories feel like magic.  
           Happy Birthday, Ayesha — stay the caring, fiery soul I adore. 💖</p>
        <br>
        <div>
            <a href="{{ url_for('login') }}" id="seeMoreButton" >See More</a>
        </div>
   </div>
</div>

{% endblock %}
