{% extends "base.html" %} {% block content %}

<div class="mainPage" id="fullpage">
     <div class="first section">
        <div class="wrap" id="wrap">
            <div class="photo photo_front" id="{% raw %}photo_{{index}}{% endraw %}" onclick="turn(this)">
                <div class="photo-wrap">
                    <div class="side side-front">
                        <p class="image">
                            <img id="img" src="{% raw %}{{img}}{% endraw %}">
                        </p>
                        <p class="caption">{% raw %}{{ photo.caption }}{% endraw %}</p>
                        
                    </div>
                    <div class="side side-back">
                        <p class="desc">{% raw %}{{ photo.desc }}{% endraw %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="second section">
        <img src="{{ url_for('static',filename='image/0.png') }}" alt="firstHero" class="heroImages" id="heroImage1">
        <img src="{{ url_for('static',filename='image/1.png') }}" alt="secondHero" class="heroImages" id="heroImage2">
        <img src="{{ url_for('static',filename='image/3.png') }}" alt="thirdHero" class="heroImages" id="heroImage3">
        <div id="message1" class="messageCard">
            <p id="messageContent">
    Wishing you a life full of health, happiness, and peace. You deserve every good thing the universe can offer—just like the joy you bring to others, especially me.
            </p>

        </div>
        <div id="message2" class="messageCard">
            <p id="messageContent">
    May you conquer every dream and achieve everything your heart is set on. Your strength and determination inspire me more than words can ever say.
            </p>

        </div>
        <div id="message3" class="messageCard">
           <p id="messageContent">
    Thank you for being by my side, for the laughter, the memories, and even the wildest adventures—remember getting lost in the forest? I cherish every moment we've shared.
            </p>

        </div>
    </div>

    <div class="third section">
        <img src="{{ url_for('static',filename='image/5.png') }}" alt="fourthHero" class="heroImages" id="heroImage1">
        <img src="{{ url_for('static',filename='image/4.png') }}" alt="fifthHero" class="heroImages" id="heroImage2">
        <img src="{{ url_for('static',filename='image/1.png') }}" alt="sixthHero" class="heroImages" id="heroImage3">
        <div id="message1" class="messageCard">
           <p id="messageContent">
    You’re not just a part of my life—you’ve shaped so much of it. Your care, your presence, even your anger—it's all been real, and beautiful, and unforgettable.
  </p>
        </div>
        <div id="message2" class="messageCard">
           <p id="messageContent">
    Life with you has been an adventure—those unplanned walks, goofy laughs, endless talks. I’ll always be thankful for each of them, and for you.
  </p>
        </div>
        <div id="message3" class="messageCard">
             <p id="messageContent">
    You’ve made me feel seen, understood, and cared for like no one else. On your special day, I just hope you feel as special and loved as you truly are.
  </p>
        </div>
    </div>
    <div class="fourth section">
        <div id="leftInfo">
           <p id="wordmapText">The image on the right reflects something more beautiful than data—our bond. Every word represents moments we’ve shared, the laughter, the care, the fights, the love, and everything that made our journey unforgettable.</p>

        </div>
        <div id="rightImage">
                <img  src="{{ url_for('static',filename='image/test.png') }}" alt="Word Cloud" id="wordCloud" data-title="Image Caption" 3 data-group="single"  class="js-lightBox">
        </div>
        
       
    </div>
    <div class="fifth section">
        <a href="{{ url_for('logout') }}" id="logoutLink">LOG OUT</a>
        <div id="giftTextContainer">
            
            <p id="giftText">Click below to receive your gift !</p>
            <a href="{{ url_for('sendMail') }}" id="giftLink">GIFT</a>
        </div>
    </div>

</div>




{% endblock %}